@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas1{
    border: 2px solid white;
}

#text{
    color: white;
    text-align: center;
    padding-top: 10px;
}

#hidden{
    color: white;
    /* transform: translate(0, 125%); */
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
    visibility: hidden;
}

.controls{
    /* position: absolute; */
    display: flex;
    padding-top: 20px;
    padding-left: 10%;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, 400%); */
}

.controls > input{
    width: 45%;
    text-align: center;
    /* padding-left: 50px; */
    /* height: 30px; */
}

.controls > label{
    width: 45%;
    color: white;
    font-size: 17px;
    /* text-align: right; */
    /* padding-right: 50px; */
}